# Binaries and build files
bin/

# Dependency directories
node_modules/
jspm_packages/
models/

# Cache directories
.npm/
.eslintcache
.cache/

# Log files
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea/
.vscode/
*.swp
*.swo
*~

# Operating system files
.DS_Store
Thumbs.db 
*.dll
/VoiceToKeyboard/bin
/VoiceToKeyboard/obj
/VoiceToKeyboard/bin/Debug
/VoiceToKeyboard/bin/Debug/net8.0-windows

